/* login.module.css */

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, coral 35%, lightseagreen 65%);
    font-family: 'Signika Negative', sans-serif; /* Aplica la nueva fuente */
}

.loginImageContainer {
    margin-bottom: 20px; /* Espaciado entre la imagen y el formulario */
}

.loginImage {
    width: 400px; /* Ajusta el tamaño de la imagen según tu preferencia */
    height: auto;
    border-radius: 20px; /* Redondea los bordes */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); /* Añade sombra alrededor */
    transition: filter 0.3s ease, box-shadow 0.5s ease; /* Añade una transición suave */
}

.loginImage:hover {
    filter: blur(0px); /* Difumina los bordes al hacer hover */
    box-shadow: 0 0 20px rgba(0, 0, 0, 1); /* Realza la sombra en hover */
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido del formulario */
    width: 350px;
    background-color: transparent;
    border-radius: 30px; /* Bordes más redondeados */
    padding: 30px;
    transition: all 0.3s ease; /* Transición suave */
}

.loginForm:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Realza la sombra al pasar el mouse */
}

.loginForm label,
.loginForm input,
.loginForm button {
    width: 100%; /* Establece el ancho al 100% */
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-family: 'Signika Negative', sans-serif; /* Aplica la nueva fuente */
}

.loginForm label {
    color: #333; /* Color más oscuro para el texto */
    font-weight: bold;
}

.loginForm input {
    outline: none; /* Elimina el borde azul al hacer clic */
    background-color: white; /* Fondo blanco */
    color: black;
}

.loginForm button {
    background-color: #4caf50; /* Verde oscuro */
    color: white;
    border: none;
    border-radius: 10px; /* Bordes más redondeados */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor de los botones */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.loginForm button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Realza la sombra al pasar el mouse */
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.goBackBtn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: grey;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra alrededor del botón */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Signika Negative', sans-serif; /* Aplica la nueva fuente */
}

.goBackBtn:hover {
    background-color: darkred;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Realza la sombra al pasar el mouse */
}


